@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Read Only Test</title>
</head>
<body>
    <div>
        <ul>
            <li>
                Time: @ViewBag.Time
            </li>
            <li>
                Text: @ViewBag.Text
            </li>
            <li>
                Exception: @ViewBag.Exception
            </li>
        </ul>
    </div>
</body>
</html>
