@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile Test</title>
</head>
<body>
    <div>
        <ul>
            <li>
                TestString: @ViewBag.TestString
            </li>
        </ul>
    </div>
</body>
</html>
