@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Disabled Test</title>
</head>
<body>
    <div>
        <ul>
            <li>
                Write Exception: @ViewBag.WriteException
            </li>
            <li>
                Read Exception: @ViewBag.ReadException
            </li>
        </ul>
    </div>
</body>
</html>
