<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <roleManager defaultProvider="RedisRoleProvider"
      enabled="true">
      <providers>
        <clear />
        <add
          name="RedisRoleProvider"
          type="RedisProviders.RedisRoleProvider, RedisProviders"
          host="127.0.0.1"
          applicationName="RedisProviders.Tests"
          writeExceptionsToEventLog="false" />
      </providers>
    </roleManager>
    <membership defaultProvider="RedisMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add 
          name="RedisMembershipProvider" 
          type="RedisProviders.RedisMembershipProvider, RedisProviders" 
          host="127.0.0.1"
			    port="6379"
          passwordFormat="Clear"
          applicationName="RedisProviders.Tests"
          writeExceptionsToEventLog="false" />
      </providers>
    </membership>
  </system.web>
</configuration>