@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Output Cache Test</title>
</head>
<body>
    <div>
        <ul>
            <li>
                Time when cached: @ViewBag.Now
            </li>
        </ul>
    </div>
</body>
</html>
