@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Session State Test</title>
</head>
<body>
    <div>
        <ul>
            <li>
                Previous Time: @ViewBag.PreviousTime
            </li>
            <li>
                Time: @ViewBag.Time
            </li>
            <li>
                Request Number: @ViewBag.RequestNumber
            </li>
            <li>
                Text: @ViewBag.Text
            </li>
        </ul>
    </div>
</body>
</html>
